@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }

  .notes-scrollbar-dark::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  
  .notes-scrollbar-dark::-webkit-scrollbar-thumb {
    background-color: #383737;
    border-radius: 10px;
  }
  
  .notes-scrollbar-dark::-webkit-scrollbar-thumb:hover {
    background-color: #4f4e4e
  }
  
  .notes-scrollbar-dark::-webkit-scrollbar-track {
    background: #232323;
    border-radius: 10px;
  }
}

:root {
  --flamingo-queen-1: #e799ff;
  --flamingo-queen-2: #f500b4;
  --flamingo-queen-3: #b70045;
  --flamingo-queen-4: #661b00;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

.notes-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.notes-scrollbar::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 10px;
}

.notes-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.notes-scrollbar::-webkit-scrollbar-track {
  background: #ebebeb;
  border-radius: 10px;
}

.note-anim {
  background-image: linear-gradient(
    var(--angle),
    #6ec9f0, #f500b4, #c1e62e
  );
  animation: _spin 3s linear infinite;
}

.note-anim-cover:hover {
  transition-duration: 1s;
  transform-origin: center;
  transform: scale(1.05);
  transition-property: transform;
  transition-timing-function: ease-out;
}

@keyframes _spin {
  to {
    --angle: 360deg;
  }
}